<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <script>
        function formvalidate()
            {
                let firstname = document.forms["myForm"]["fname"].value;
                let lastname = document.forms["myForm"]["lname"].value;
                var letters = /[^A-Z]/ig;
                if (firstname.match(letters))
                    {
                        alert("Numeric and Spaces are not allowed ");
                        return false;  
                    }
                if (lastname.match(letters))
                    {
                        alert("Numeric and Spaces are not allowed "); 
                        return false;  
                    }
                var lastChar = lastname.substring(0, 1);
                if (lastChar == lastChar.toLowerCase())
                    {
                        alert('Last Name letter must be Capitalized');
                        return false;
                    }
                let email = document.forms["myForm"]["email"].value;
                if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email))
                    {
                    }
                else{
                        alert('Invalid Email format');
                        return false;
                    }
                let pswd = document.forms["myForm"]["pswd"].value;
                let cnfpswd = document.forms["myForm"]["confirmpassword"].value;
                if (pswd!=cnfpswd){
                        alert("password and confirm password must be same");
                        return false;
                    }
                if(document.getElementById('male').checked == false && document.getElementById('female').checked == false) {
                            alert("Select a gender");
                            return false;
                    }
                if(document.getElementById('Singing').checked == false && document.getElementById('Swimming').checked == false && document.getElementById('reading').checked == false){
                        alert("Select atleast one hobby");
                        return false;
                    }
            }
    </script>
</head>
<body>
    <form name="myForm" action="http://127.0.0.1:8000/add_details" onsubmit = "return formvalidate()" method = "POST">
        {% csrf_token %}
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname" required><br><br>
        {% comment %} style = 'text-transform : uppercase' {% endcomment %}
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname" required><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"required><br><br>
        <label for="pswd">Password:</label>
        <input type="password" id="pswd" name="pswd"required><br><br>
        <label for="confirmpassword">Confirm Password:</label>
        <input type="password" id="Confirmpassword" name="confirmpassword" required><br><br>
        <label for="dob">Dob</label>
        <input type="date" id="dob" name="dob" required><br><br>
        <label for="gender">Gender</label>
        <input type="radio" id="male" value="male" name="gender" required>
        <label >Male</label>
        <input type="radio" id="female" value="female" name="gender">
        <label >Female</label><br><br>
        <label for="hobbies">Hobbies</label>
        <br>
        <input type="checkbox" id="Singing" name="hobbies" value="Singing">
        <label for="Singing"> Singing</label><br>
        <input type="checkbox" id="Swimming" name="hobbies" value="Swimming">
        <label for="Swimming"> Swimming</label><br>
        <input type="checkbox" id="reading" name="hobbies" value="reading">
        <label for="reading"> Reading</label><br>
        <br><br>
        <input type="submit" value="Submit">
    </form>
    {%block includes%}
        {{warning_text}}
    {%endblock includes%}
</body>
</html>